@function generateRandomStars ($screen-width, $color, $density){
  $horizontalshadow: random($screen-width);
  $verticalshadow: random($screen-width);
  $stars: '#{$horizontalshadow}px #{$verticalshadow}px #{$color}';
  @for $i from 2 through $density {
    $horizontalshadow: random($screen-width);
    $verticalshadow: random($screen-width);
    $stars: '#{$stars}, #{$horizontalshadow}px #{$verticalshadow}px #{$color}';
  }
  @return unquote($stars);
}
@mixin starsContent($screenWidth, $color, $density, $speed, $delay) {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: generateRandomStars($screenWidth, $color, $density);
  animation-name: glowingStars;
  animation-duration: $speed+s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: $delay+s;
  }
#starsGroup1{
  @include starsContent(1800, #fff, 200, 1, 0);
}
#starsGroup2{
  @include starsContent(1800, #fff, 200, 1, 0.1);
}
#starsGroup3{
  @include starsContent(1800, #fff, 200, 1, 0.2);
}
#starsGroup4{
  @include starsContent(1800, #fff, 200, 1, 0.3);
}
#starsGroup5{
  @include starsContent(1800, #fff, 200, 1, 0.4);
}
#starsGroup6{
  @include starsContent(1800, #fff, 200, 1, 0.5);
}
@keyframes glowingStars {
  0%   {
      opacity: 0;
  }
  50% {
      opacity: 0.8;
  }
  100% {
      opacity: 0;
  }
}
img {
  position: absolute;
  left: 110%;
  top: 5%;
  height: 30px;
  width: 30px;
  transform: rotate(-135deg);
  animation: spaceRocket 20s 1s ease-in;
}
@keyframes spaceRocket {
  50% {
    left: -10%;
    top: 5%;
    transform: rotate(-135deg);
  }
 70% {
   left: -10%;
   top: 80%;
   transform: scale(2) rotate(35deg);
 }
  100% {
    left: 110%;
    top: 80%;
    transform: scale(2) rotate(35deg);
  }
}